<div class="container">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
    Photos for album with ID {{ albumId }}
  </h1>
  <hr class="mt-2 mb-5" />

  <form [formGroup]="photoForm" (ngSubmit)="addPicture()" class="form-group p-2">
    <label for="title">Enter picture title:</label>
    <input type="text" formControlName="title" class="form-control mb-3 w-50" id="title" required>
    <label for="url">Enter picture URL:</label>
    <input type="url" formControlName="url" class="form-control mb-3 w-50" id="url" placeholder="https://example.com" required>
    <label for="thumbnailUrl">Enter thumbnail URL (optional):</label>
    <input type="url" formControlName="thumbnailUrl" class="form-control mb-3 w-50" id="thumbnailUrl" placeholder="https://example.com">
    <button type="submit" [disabled]="!photoForm.valid" class="btn btn-success btn">ADD PICTURE</button>
  </form>

  <div class="row text-center text-lg-left">
    <div
      *ngFor="let photo of photos"
      class="card bg-light m-3"
      style="width: 12rem"
    >
      <a href="{{ photo.url }}"
        ><img class="card-img-top" src="{{ photo.thumbnailUrl }}" alt=""
      /></a>
      <div class="card-body d-flex flex-column">
        <p style="font-size: 0.8rem;">{{ photo.title }}</p>
        <button
          (click)="deletePicture(photo.id)"
          class="btn btn-outline-danger mt-auto w-5"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
></ngx-spinner>
